<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>EDIT BATCH</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="normal-form">
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container">
            <mat-form-field hidden>
              <input type="text" formControlName="batchId" matInput placeholder="BatchId*">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" formControlName="description" matInput placeholder="Description*">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" formControlName="sequence" matInput placeholder="Sequence">
              <mat-error>invalid email address.</mat-error>
            </mat-form-field>

          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controles-container">
            <mat-form-field>
              <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Start Date*">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="finishDate" matInput [matDatepicker]="picker2" placeholder="Finish Date*">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
          </div>

        </mat-grid-tile>
      </mat-grid-list>
      <div class="button-row">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()"
          type="submit">Submit</button>
        <button mat-raised-button color="accent" type="reset">Reset</button>
        <button mat-raised-button color="warn" (click)="onClose()">Batal</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>