<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>CREATE STUDI PERIOD</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="normal-form">
      <div class="controles-container">
        <mat-form-field>
          <input matInput formControlName="weekId" placeholder="Week*" />
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Description*"></textarea>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()"
          type="submit">Submit</button>
        <button mat-raised-button color="accent" type="reset">Reset</button>
        <button mat-raised-button color="warn" routerLink="/list-studi-period">Batal</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>