<aside class="main-sidebar">
  <!-- sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="image text-center"><img src="assets/img/img1.jpg" class="img-circle" alt="User Image"> </div>
      <div class="info">
        <p>Alexander Pierce</p>
        <a href="index.html#"><i class="fa fa-envelope"></i></a> <a href="index.html#"><i class="fa fa-gear"></i></a> <a
          href="index.html#"><i class="fa fa-power-off"></i></a>
      </div>
    </div>

    <!-- sidebar menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">ADMIN</li>
      <li class="active treeview"> <a href="index.html#"> <i class="fa fa-home"></i> <span>Dashboard</span> <span
            class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
        <ul class="treeview-menu">
          <li class="active"><a routerLink="/list-batch"><i class="fa fa-angle-right"></i> Bootcamp Batch</a></li>
          <li><a routerLink="/list-trainer"><i class="fa fa-angle-right"></i>
              Trainee</a></li>
          <li><a routerLink="/list-studi-period"><i class="fa fa-angle-right"></i> Study Period</a></li>
          <li><a routerLink="/list-studi-material"><i class="fa fa-angle-right"></i> Study Material</a></li>
          <li><a routerLink="/list-period"><i class="fa fa-angle-right"></i> Bootcamp Period</a></li>
        </ul>
      </li>

    </ul>
  </div>
  <!-- /.sidebar -->
</aside>